@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}

html {
    height: 100%;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: "PT Sans", sans-serif;
    font-size: 22px;
    line-height: 36px;
    color: #333333;
    background-color: #ffffff;
    background: #F2F2F2;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

.page-container {
    width: 1200px;
    margin: 0 auto;
    background: #ffffff;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.page-header {
    position: relative;
}

.navigation {
    display: flex;
    width: 1090px;
    margin: 0 auto;
}

.navigation-list {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.navigation-item {
    margin: 0;
    padding: 0;
    padding-top: 14px;
    margin-left: 21px;
}

.navigation-link {
    position: relative;
    display: block;
    padding: 3px 6px 3px 6px;
    border: 3px solid transparent;
    border-radius: 10px;
    box-sizing: border-box;
    outline: none; 
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    color: #000000;
    text-decoration: none;
}

.navigation-link:hover:not(.navigation-link-login) {
    color: #756257;
}

.navigation-link:focus:not(.navigation-link-login):not(:active) {
    color: #756257;
    border-color: #83B3D3;
}

.navigation-link:active:not(.navigation-user-link):not(.navigation-link-login) {
    color: #756257;
    opacity: 0.3;
}

.navigation-link-current::before {
    position: absolute;
    right: 0px;
    bottom: -18px;
    left: 0px;
    height: 2px;
    background-color: #756257;
    content: "";
}

.navigation-logo {
    display: block;
    width: 138px;
    height: 65px;
    object-fit: contain;
    margin: 0 auto;
}

.navigation-user {
    justify-content: flex-end;
    width: 400px;
}

.navigation-user-link {
    position: relative;
    margin: 0;
    width: 38px;
    height: 38px;
    border: 3px solid transparent;
    border-radius: 10px;
    box-sizing: border-box;
    outline: none;
}

.navigation-user-link:focus .navigation-icon {
    fill: #756257;
}

.navigation-user-link:active span {
    color: rgba(255, 255, 255, 0.3);
}

.navigation-link-login {
    display: inline-block;
    text-transform: uppercase;
    margin: 0;
    color: #ffffff;
    background-color: #756257;
    padding: 6px 31px 7px 31px;
    border-radius: 4px;
    line-height: 21px;
    border: 3px solid transparent;
    border-radius: 4px;
    box-sizing: border-box;
    outline: none;
}

.navigation-link-login:hover {
    background-color: #615048;
}

.navigation-link-login:focus:not(:active) {
    border-color:#83B3D3;
}

.navigation-link-login:active {
    color: rgba(255, 255, 255, 0.3);
}

.navigation-icon {
    position: absolute;
    top: 0px;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    fill: #000000;
  }

.navigation-icon:hover {
    fill: #756257;
  }

.navigation-icon-favorites {
    display: block;
    width: 19px;
    height: 19px;
    position: absolute;
    top: -20px;
    right: 0;
    bottom: 0;
    left: 20px;
    margin: auto;
    padding: 0;
    color: white;
    font-size: 10px;
    line-height: 19px;
    text-align: center;
    background-color: #7DB550;
    border-radius: 100%;
}

.main-container {
    flex-grow: 1;
    text-align: center;
}

.intro-logo-wrapper {
    background-image: url("../img/background-vector.svg"), url("../img/background-image.jpg");
    background-color: #ddeaf5;
    background-repeat: no-repeat, no-repeat;
    background-position: bottom, center;
    padding-top: 51px;
    padding-bottom: 73px;
    margin: 0;
    margin-bottom: 63px;
}

.intro-wrapper {
    padding-left: 240px;
    padding-right: 240px;
    margin: 0;
    margin-bottom: 79px;
}

.intro-wrapper p:not(.intro-description) {
    margin: 0;
    padding: 0;
}

.intro-description {
    margin: 0;
    padding: 0;
    margin-bottom: 23px;
    font-weight: 700;
    font-size: 30px;
    color: #000000;
    background-color: #ffffff;
    text-transform: uppercase;
}

.advantages-full {
    display: flex;
}

.advantages-picture {
    display: block;
}

.advantages-item {
    background-color: #83B3D3;
    width: 400px;
    color: #ffffff;
    padding: 98px 90px 77px 90px; 
}

.advantages-item-picture {
    width: 800px;
}

.advantages-title {
    margin: 0px;
    padding: 0;
    padding-bottom: 25px;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
}

.advantages-number {
    margin: 0;
    padding: 0;
    padding-bottom: 25px;
    font-size: 18px;
    line-height: 21px;
}

.advantages-description {
    margin: 0;
    padding: 0;
    font-size: 18px;
    line-height: 21px;
}

.advantages-list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
}

.advantages-list-item {
    position: relative;
    width: 33.33%;
    background: rgba(131, 179, 211, 0.12);
    padding: 184px 75px 79px 75px;
    box-sizing: border-box;
}

.advantages-list-item-light {
    background-color: #ffffff;
}

.advantages-list-item-dark {
    background: rgba(131, 179, 211, 0.2);
    padding: 98px 75px 77px 75px;
}

.advantages-list-title {
    position: relative;
    margin: 0;
    margin-bottom: 25px;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    text-transform: uppercase;
}

.advantages-home::before {
    position: absolute;
    top: -95px;
    left: 50%;
    width: 75px;
    height: 72px;
    margin-left: -37px;
    background-image: url("../img/icon-home.svg");
    content: "";
}

.advantages-food::before {
    position: absolute;
    top: -93px;
    left: 50%;
    width: 74px;
    height: 70px;
    margin-left: -37px;
    background-image: url("../img/icon-food.svg");
    content: "";
}

.advantages-gift::before {
    position: absolute;
    top: -99px;
    left: 50%;
    width: 64px;
    height: 76px;
    margin-left: -32px;
    background-image: url("../img/icon-gift.svg");
    content: "";
}

.advantages-list-number {
    margin: 0;
    margin-bottom: 26px;
    font-size: 18px;
    line-height: 21px;
    color: #333333;
}

.advantages-list-description {
    margin: 0;
    font-size: 18px;
    line-height: 21px;
    color: #333333;
}

.advantages-small {
    padding: 98px 75px 77px 75px;
    margin: 0;
}

.search {
    margin: 0;
    padding: 91px 300px 90px 300px;
}

.search-title {
    margin: 0;
    margin-bottom: 15px;
    padding: 0;
    font-weight: 700;
    font-size: 30px;
    color: #000000;
    background-color: #fff;
    text-transform: uppercase;
}

.search-description {
    margin: 0;
    margin-bottom: 73px;
    padding: 0;
    font-size: 22px;
    line-height: 26px;
    color: #333333;
    background-color: #ffffff;
}

.search-link {
    padding: 13px 145px 17px 145px;
    font-weight: 700;
    font-size: 20px;
    color: #ffffff;
    background-color: #756257;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 10px;
    cursor: pointer;
}

.search-link:hover {
    background-color: #615048;
}

.search-link:focus:not(:active) {
    border: 3px solid #83B3D3;
    border-radius: 10px;
    box-sizing: border-box;
    outline: none;
}

.search-link:active {
    color: rgba(255, 255, 255, 0.3);
}

.newsletter {
    background-image: url("../img/background-mailing.jpg");
    background-color: #54779f;
    background-repeat: no-repeat;
    margin: 0;
    padding-top: 94px;
    padding-bottom: 94px;
    text-align: center;
}

.newsletter-form {
    display: flex;
    margin: 0 auto;
    width: 800px;
}

.newsletter-email {
    flex-grow: 1;
    margin: 0;
}

.newsletter-email .field {
    width: 600px;
    background-color: #F2F2F2;
}

.field {
    margin: 0;
    padding: 12px 14px 12px 14px;
    font: inherit;
    font-size: 18px;
    border-radius: 10px 0px 0px 10px;
    border: 0;
}


.field:hover {
    background-color: #E5E5E5;
}

.field:focus:not(:active) {
  outline: 3px solid #83B3D3;
}

.field:invalid {
    box-shadow: none;
}

.error {
    border-color: #FF5757;
    background-color: #ffffff;
}

.newsletter-button {
    width: 200px;
    height: 61px;
    background-color: #83B3D3;
    color: #ffffff;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    text-transform: uppercase;
    padding-left: 25px;
    padding-right: 25px;
    border: 3px solid transparent;
    border-radius: 0px 10px 10px 0px;
    outline: 0;
}

.newsletter-button:hover {
    background: #68A2CA;
    cursor: pointer;
}

.newsletter-button:focus:not(:active) {
    border-color:#756257;
}

.newsletter-button:active {
    color: rgba(255, 255, 255, 0.3);
}

.newsletter-title {
    margin: 0;
    padding-bottom: 15px;
    font-weight: 700;
    font-size: 30px;
    color: #ffffff;
    text-transform: uppercase;
}

.newsletter-description {
    margin: 0;
    padding-left: 340px;
    padding-right: 340px;
    padding-bottom: 26px;
    color: #ffffff;
}

.page-footer-container {
    display: flex;
    margin-top: 40px;
    margin-bottom: 30px;
}

.footer-social {
    display: flex;
    flex-wrap: wrap;
    width: 350px;
    margin: 0;
    padding: 0;
    margin-left: 72px;
}

.footer-social-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.footer-social-item {
    width:20px;
    height: 18px;
    margin-right: 29px;
}

.social-button {
    position: relative;
    display: block;
    width:40px;
    height: 40px;
    border: 3px solid transparent;
    border-radius: 10px;
    outline: none; 
}

.social-button:focus:not(:active) {
    border-color:#83B3D3;
}

.social-icon {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    fill: #83B3D3;
}

.social-icon:hover {
    fill: #68A2CA;
}


.social-icon:active {
    opacity: 0.3;
}

.footer-contacts {
    width: 361px;
    box-sizing: border-box;
}
.footer-about {
    max-width: 115px;
    margin-left: auto;
    margin-right: 92px;
}

.footer-contacts-phone {
    font-size: 40px;
    line-height: 40px;
    color: #000000;
    background-color: #ffffff;
    text-decoration: none;
    padding: 6px 12px 6px 12px;
    border: 3px solid transparent;
    border-radius: 10px;
    outline: none; 
}

.footer-contacts-phone:hover {
    color: #756257;
}

.footer-contacts-phone:focus:not(:active) {
    border-color: #83B3D3;
}

.footer-contacts-phone:active {
    opacity: 0.3;
}

.htmlacademy-link {
    border: 3px solid transparent;
    border-radius: 10px;
    outline: none;
    padding: 28px 20px 8px 20px;
}

.htmlacademy-link:focus:not(:active) {
    border-color: #83B3D3;
}

.htmlacademy-logo:hover {
    fill: #756257;
}

.htmlacademy-logo:active {
    opacity: 0.3;
}

.main-header {
    background-image: url("../img/background-hotels.jpg");
    background-repeat: no-repeat;
    padding-bottom: 80px;
}


.main-header-title {
    margin: 0;
    font-weight: 700;
    font-size: 60px;
    line-height: 78px;
    color: #ffffff;
    text-align: left;
    padding-left: 71px;
    padding-right: 72px;
    padding-top: 35px;
    /*padding-bottom: 5px;*/
}

.breadcrumbs {
    margin-top: 0;
    margin-left: 73px;
    margin-bottom: 45px;
    padding: 0;
    display: flex;
    align-items: baseline;
    list-style-type: none;
}

.breadcrumbs-item {
    position: relative;
    margin-right: 38px;
}

.breadcrumbs-item::after {
    position: absolute;
    top: -10px;
    right: -28px;
    width: 5px;
    height: 8px;
    content: "";
    background-image: url("../img/arrow-right.svg");
}

.breadcrumbs-item:last-child::after {
    content: none;
  }

.breadcrumbs-link:hover {
    opacity: 0.6;
    cursor: pointer;
}

.breadcrumbs-link:active {
    opacity: 0.3;
}

.breadcrumbs-link {
    font-size: 16px;
    line-height: 21px;
    color: #ffffff;
}

.breadcrumbs-home-icon {
    position: absolute;
    top: 10;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    fill: #ffffff;
}

/*FILTERS*/

.catalog-filter {
    display: flex;
    margin-left: 71px;
    margin-right: 72px;
}

.catalog-filter-group {
    border: none;
    padding: 0;

}

.catalog-filter-group:nth-child(1) {
    width: 150px;
}

.catalog-filter-group:nth-child(2) {
    margin-left: 67px;
    width: 150px;
}

.catalog-filter-group:nth-child(3) {
    margin-left: auto;
    margin-right: 81px;
    width: 290px;
}

.catalog-filter-group:nth-child(4) {
    width: 160px;
}

.catalog-filter-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    /*padding-left: 39px;*/
    padding-bottom: 13px;
}

/*.catalog-filter-item {
    padding-left: 39px;
}*/

.catalog-filter-item:last-child {
    padding-bottom: 0;
}

.control {
    position: relative;
    display: block;
    padding-left: 39px;
}

.control-mark {
    position: absolute;
    top: 10px;
    left: 0;
    width: 20px;
    height: 20px;
    border: 0;
    border-radius: 4px;
    background-color: #ffffff;
}

.control-input[type="checkbox"]:checked + .control-mark::before {
    position: absolute;
    width: 12px;
    height: 10px;
    top: 5px;
    left: 4px;
    content: "";
    background-image: url("../img/check.svg");
}

.radio-mark {
    position: absolute;
    top: 10px;
    left: 0;
    width: 20px;
    height: 20px;
    border: 0;
    border-radius: 50%;
    background-color: #ffffff;
}

.control-input[type="radio"]:checked + .radio-mark::before {
    position: absolute;
    width: 10px;
    height: 10px;
    top: 5px;
    left: 5px;
    content: "";
    background-color: #3F5E72;
    border-radius: 50%;
}


.catalog-filter-title {
    text-align: left;
    margin: 0;
    padding-bottom: 30px;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    color: #ffffff;
}

.range-scale {
    position: relative;
    height: 4px;
    margin-top: 32px;
    background-color: #636b6e;
}

.range-bar {
    position: absolute;
    height: 4px;
    background-color: #ffffff;
}

.range-toggle {
    position: absolute;
    width: 20px;
    height: 20px;
    background: #FFFFFF;
    border: 2px solid transparent;
    border-radius: 5px;
    cursor: pointer;
}

.range-toggle:hover {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}
  
.range-toggle:active,
.range-toggle:focus {
    border-color: #83B3D3;
    outline: none;
}

.toggle-min {
    top: -8px;
    left: 0px;
}
  
.toggle-max {
    top: -8px;
    right: 0px;
}

.range-wrapper-inputs {
    display: flex;
    position: relative;
    justify-content: space-between;
    border: 2px solid #ffffff;
    border-radius: 4px;
    padding: 11px 17px 10px 19px;
  }

  .range-wrapper-inputs::before {
      position: absolute;
      content: "";
      border-right: 2px solid #ffffff;
      top: 0;
      bottom: 0;
      left: 140px;
  }

  .range-wrapper-inputs:hover {
    border: 2px solid rgba(255, 255, 255, 0.6);
  }

.range-input {
    width: 77px;
    font: inherit;
    text-align: left;
    background-color: transparent;
    border: none;
    appearance: textfield;
}

.range-input[value] {
    color: #ffffff;
    font-size: 18px;
    line-height: 23px;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.catalog-filter-label {
    color:rgba(255, 255, 255, 0.3);
    font-size: 18px;
    line-height: 23px;
}

.catalog-filter-button {
    margin: 0;
    margin-bottom: 20px;
    padding: 13px 29px 14px 29px;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    color:#ffffff;
    text-transform: uppercase;
    background-color: #83b3d3;
    border: 3px solid transparent;
    border-radius: 4px;
    outline: none;

}

.catalog-filter-button:hover {
    background: #68A2CA;
    cursor: pointer;
}

.catalog-filter-button:focus:not(:active) {
    border-color: #ffffff;
}

.catalog-filter-button:active {
    color: rgba(255, 255, 255, 0.3);
}

.catalog-filter-button-reset {
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
    background-color: transparent;
    padding: 3px 9px 3px 9px;
    border: 3px solid transparent;
    border-radius: 4px;
    outline: none;
}

.catalog-filter-button-reset:hover {
    opacity: 0.6;
    cursor: pointer;
}

.catalog-filter-button-reset:focus:not(:active) {
    border-color: #83B3D3;
}

.catalog-filter-button-reset:active {
    opacity: 0.3;
}


/*SORTING*/

.sort {
    display: flex;
    padding-left: 72px;
    padding-right: 72px;
}

.sort-results {
    margin: 0;
    margin-top: 50px;
    margin-bottom: 70px;
    margin-right: auto;
}

.sort-type {
    margin: 44px 81px 0px 0px;
}

.select {
    position: relative;
    display: flex;
    align-items: center;
    width: 287px;
    margin-right: auto;
}


.select-control {
    width: 100%;
    padding: 12px 60px 13px 19px;
    font: inherit;
    font-size: 18px;
    color: #333333;
    border: 2px solid #E6E6E6;
    border-radius: 4px;
    background-image: url("../img/arrow-down.svg");
    background-repeat: no-repeat;
    background-position: right 21px center;
    appearance: none;
}

.select-control:hover {
    border-color: #83B3D3;
    cursor: pointer;
}

.select-control:active {
    opacity: 0.3;
}

.button-sort {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    margin-top: 44px;
    margin-right: 8px;
    border: 2px solid #E6E6E6;
    box-sizing: border-box;
    border-radius: 4px;
}

.button-sort:last-child {
    margin-right: 0;
}

.button-sort-active {
    border: 2px solid #000000;
    box-sizing: border-box;
    border-radius: 4px;
}

.button-sort:hover:not(.button-sort-active) {
    border: 2px solid #83B3D3;
}

.button-sort-icon {
    fill: #000000;
}

.control-label {
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
    text-align: left;
}

.sort-results {
    font-weight: 700;
    font-size: 30px;
    line-height: 39px;
    color: #000000;
    background-color: #ffffff;
    text-align: left;
    text-transform: uppercase;
    width: 350px;
    margin-right: auto;
}

.sort-type {
    width: 290px;
}

.select-control {
    font-size: 18px;
    line-height: 24px;
}

/*HOTELS CARDS*/

.hotel-cards {
    position: relative;
    margin-left: 72px;
    margin-right: 72px;
}

.hotel-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

/*card of hotel*/

.hotel-card {
    position: relative;
    display: flex;
    flex-direction: row;
    margin-bottom: 61px;
}

.hotel-card::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -28px;
    border-top: 1px solid #E6E6E6;
}

.hotel-card:last-child:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 153px;
    border-bottom: 1px solid #E6E6E6;
}

.hotel-card-image-link {
    margin-right: 37px;
    border: 3px solid transparent;
    outline: none;
}

.hotel-card-image-link:focus:not(:active) {
    border-color: #83B3D3;
}

.hotel-card-image {
    display: block;
}

.hotel-card-image:hover {
    opacity: 0.6;
}

.hotel-card-image:active {
    opacity: 0.3;
}

.hotel-card-description {
    display: grid;
    width: 319px;
    grid-template-columns: 151px 160px;
    column-gap: 8px;
    margin-right: auto;
}

.hotel-card-title-link {
    grid-column: 1 / -1;
    text-decoration: none;
    border: 3px solid transparent;
    box-sizing: border-box;
    border-radius: 10px;
    outline: none;
}

.hotel-card-title-link:focus:not(:active) {
    border-color:#83B3D3;
}

.hotel-card-title {
    margin: 0;
    padding: 0;
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
    color: #000000;
    text-align: left;
}

.hotel-card-title:hover {
    color: #756257;
}

.hotel-card-title:active {
    opacity: 0.3;
}

.hotel-card-type {
    margin: 0;
    margin-bottom: 30px;
    padding: 0;
    font-size: 18px;
    line-height: 24px;
    color: #333333;
    background-color: #ffffff;
    text-align: left;
}

.hotel-card-price {
    margin: 0;
    padding: 0;
    font-size: 18px;
    line-height: 24px;
    color: #333333;
    background-color: #ffffff;
    text-align: left;
}

.hotel-card-button {
    display: block;
    padding: 5px 28px 5px 28px;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
    background-color: #756257;
    border: 3px solid transparent;
    border-radius: 4px;
    text-transform: uppercase;
    text-decoration: none;
    outline: none;
}

.hotel-card-button:hover {
    background: #615048;
    cursor: pointer;
}

.hotel-card-button:focus:not(:active) {
    border-color:#83B3D3;
}
.hotel-card-button:active {
    color: rgba(255, 255, 255, 0.3);
}

.button-to-favorites {
    display: block;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
    background-color: #83B3D3;
    text-transform: uppercase;
    text-decoration: none;
    border: 3px solid transparent;
    border-radius: 4px;
    outline: none;
}

.button-to-favorites:hover {
    border: 1px solid #756257;
    background: #68A2CA;
    cursor: pointer;
}

.button-to-favorites:focus:not(:active) {
    border-color:#756257;
}

.button-to-favorites:active {
    color: rgba(255, 255, 255, 0.3);
}

.button-in-favorites {
    display: block;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
    background-color: #7DB54F;;
    text-transform: uppercase;
    text-decoration: none;
    border: 3px solid transparent;
    border-radius: 4px;
    outline: none;
}

.button-in-favorites:hover {
    background: #6C9E42;
    cursor: pointer;
}

.button-in-favorites:focus:not(:active) {
    border-color:#756257;
}

.button-in-favorites:active {
    color: rgba(255, 255, 255, 0.3);
}

.hotel-card-rating {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hotel-stars {
    margin: 0 auto;
}
.rating {
    margin: 0;
    padding: 10px 32px 9px 32px;
    border-radius: 4px;
    font-size: 16px;
    line-height: 21px;
    color: #333333;
    background-color: #F2F2F2;
    text-transform: uppercase;
}

.show-more-button {
    display: block;
    margin: 0 auto;
    margin-bottom: 61px;
    padding: 13px 29px 14px 29px;
    width: 625px;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    color:#ffffff;
    text-transform: uppercase;
    background-color: #83b3d3;
    border-radius: 4px;
    border: 3px solid transparent;
    outline: none;
}

.show-more-button:hover {
    background: #68A2CA;
    cursor: pointer;
}

.show-more-button:focus:not(:active) {
    border-color: #756257;
}

.show-more-button:active {
    color: rgba(255, 255, 255, 0.3);
}

/*PAGINATION*/

.pagination {
    position: relative;
    display: flex;
    margin-bottom: 89px;
}

.pagination-list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.pagination-item:not(:last-child) {
    margin-right: 8px;
}

.pagination-link {
    display: block;
    box-sizing: border-box;
    width: 55px;
    height: 55px;
    margin: 0;
    text-align: center;
    padding-top: 15px;
    text-decoration: none;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    color:#ffffff;
    background-color: #83B3D3;
    border-radius: 4px;
    border: 3px solid transparent;
    outline: none;
}

.pagination-link:hover:not(.pagination-current) {
    background: #68A2CA;
    cursor: pointer;
}

.pagination-link:focus:not(:active) {
    border-color: #756257;
}

.pagination-link:active:not(.pagination-current) {
    color: rgba(255, 255, 255, 0.3);
}

.pagination-current {
    color: #000000;
    background-color: #F2F2F2;
}

.pagination::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -31px;
    border-top: 1px solid #E6E6E6;
}


.hotel-view {
    margin-left: auto;
}

.hotel-view-title {
    font-size: 18px;
    line-height: 24px;
    color:#333333;
    padding-right: 51px;
}

.select-hotel {
    width: 386px;
}

.select-control-hotel {
    width: 160px;
}


.newsletter-title-inner {
    color: #000000;
}

.newsletter-description-inner {
    color: #000000;
}

.newsletter-inner {
    background-image: none;
    padding-top: 0;
    padding-bottom: 137px;
    text-align: center;
}

.field-inner {
    background: #F2F2F2;
}