@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}

html {
    height: 100%;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: "PT Sans", sans-serif;
    font-size: 22px;
    line-height: 36px;
    color: #333333;
    background-color: #ffffff;
    background: #F2F2F2;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

.page-container {
    width: 1200px;
    margin: 0 auto;
    background: #ffffff;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.page-header {
    position: relative;
}

.navigation {
    display: flex;
    width: 1090px;
    margin: 0 auto;
    /*text-align: center;*/
    
}

.navigation-list {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.navigation-item {
    margin: 0;
    padding: 0;
}

.navigation-link {
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 33px;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    color: #000000;
    /*background-color: #ffffff;*/
    text-decoration: none;
}

.navigation-logo {
    /*width: 138px;*/
    margin: 0 auto;
    position: absolute;
    left: 531px;
}

.navigation-user {
    max-width: 315px;
    margin-left: auto;
}

.navigation-user-link {
    position: relative;
    margin: 0;
    margin-right: 20px;
    min-width: 31px;
    min-height: 27px;
}

.navigation-link-login {
    display: inline-block;
    text-transform: uppercase;
    margin: 0;
    color: #ffffff;
    background-color: #756257;
    padding: 9px 34px 10px 34px;
    border-radius: 4px;
    margin: 14px 0 14px 0;
}

.navigation-icon {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    fill: #000000;
  }

.navigation-icon-favorites {
    position: absolute;
    top: -20px;
    right: 0;
    bottom: 0;
    left: 20px;
    margin: auto;
    fill: #000000;
}

.main-container {
    flex-grow: 1;
    text-align: center;
}

.intro-logo-wrapper {
    background-image: url("../img/background-vector.svg"), url("../img/background-image.jpg");
    background-repeat: no-repeat, no-repeat;
    background-position: bottom, center;
    padding-top: 51px;
    padding-bottom: 73px;
    margin: 0;
    margin-bottom: 63px;
}

.intro-wrapper {
    padding-left: 240px;
    padding-right: 240px;
    margin: 0;
    margin-bottom: 79px;
}

.intro-wrapper p:not(.intro-description) {
    margin: 0;
    padding: 0;
}

.intro-description {
    margin: 0;
    padding: 0;
    margin-bottom: 23px;
    font-weight: 700;
    font-size: 30px;
    color: #000000;
    background-color: #ffffff;
    /*text-align: center;*/
    text-transform: uppercase;
}

.advantages-full {
    display: flex;
}

.advantages-picture {
    display: block;
}

.advantages-item {
    background-color: #83B3D3;
    width: 400px;
    color: #ffffff;
    padding: 98px 90px 77px 90px; 
}

.advantages-item-picture {
    width: 800px;
}

.advantages-title {
    margin: 0px;
    padding: 0;
    padding-bottom: 25px;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
}

.advantages-number {
    margin: 0;
    padding: 0;
    padding-bottom: 25px;
    font-size: 18px;
    line-height: 21px;
}

.advantages-description {
    margin: 0;
    padding: 0;
    font-size: 18px;
    line-height: 21px;
}

.advantages-list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
}

.advantages-list-item {
    position: relative;
    width: 33.33%;
    background: rgba(131, 179, 211, 0.12);
    padding: 184px 75px 79px 75px;
    box-sizing: border-box;
}

.advantages-list-item-light {
    background-color: #ffffff;
}

.advantages-list-item-dark {
    background: rgba(131, 179, 211, 0.2);
    padding: 98px 75px 77px 75px;
}

.advantages-list-title {
    margin: 0;
    margin-bottom: 25px;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    text-transform: uppercase;
}

.advantages-list-number {
    margin: 0;
    margin-bottom: 26px;
    font-size: 18px;
    line-height: 21px;
    color: #333333;
}

.advantages-list-description {
    margin: 0;
    font-size: 18px;
    line-height: 21px;
    color: #333333;
}

.advantages-small {
    padding: 98px 75px 77px 75px;
    margin: 0;
}

.search {
    margin: 0;
    padding: 91px 300px 90px 300px;
}

.search-title {
    margin: 0;
    margin-bottom: 15px;
    padding: 0;
    font-weight: 700;
    font-size: 30px;
    color: #000000;
    background-color: #fff;
    text-transform: uppercase;
}

.search-description {
    margin: 0;
    margin-bottom: 73px;
    padding: 0;
    font-size: 22px;
    line-height: 26px;
    color: #333333;
    background-color: #ffffff;
}

.search-link {
    padding: 13px 145px 17px 145px;
    font-weight: 700;
    font-size: 20px;
    color: #ffffff;
    background-color: #756257;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 10px;
    cursor: pointer;
}

.newsletter {
    background-image: url("../img/background-mailing.jpg");
    background-repeat: no-repeat;
    margin: 0;
    padding-top: 94px;
    padding-bottom: 94px;
    text-align: center;
}

.newsletter-form {
    display: grid;
    margin: 0 auto;
    grid-template-columns: 1fr auto;
    width: 800px;
    box-sizing: border-box;
}

.newsletter-title {
    margin: 0;
    padding-bottom: 15px;
    font-weight: 700;
    font-size: 30px;
    color: #ffffff;
    text-transform: uppercase;
}

.newsletter-description {
    margin: 0;
    padding-left: 340px;
    padding-right: 340px;
    padding-bottom: 26px;
    color: #ffffff;
}

.button {
    margin: 0;
    padding: 0;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    color:#ffffff;
    background-color: #83b3d3;
    text-transform: uppercase;
    border-radius: 4px;
}

.button-in-favorites {
    font-size: 16px;
    line-height: 21px;
    background-color: #7DB54F;
}

.button-reset {
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
    background-color: transparent;
}

.page-footer-container {
    display: flex;
    margin-top: 40px;
    margin-bottom: 30px;
    text-align: center;
}

.footer-social {
    width: 110px;
    margin-left: 72px;
    margin-right: 60px;
}

.footer-social-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.footer-social-item {
    width: 20px;
    height: 18px;
}

.social-button {
    display: block;
    padding: 10px 15px 25px 15px;
}

.footer-about {
    max-width: 115px;
    margin-left: auto;
    margin-right: 72px;
}

.footer-contacts {
    width: 720px;
}

.footer-contacts-phone {
    font-size: 40px;
    line-height: 40px;
    color: #000000;
    background-color: #ffffff;
    text-decoration: none;

}

.main-header {
    background-image: url("../img/background-hotels.jpg");
    background-repeat: no-repeat;
}

.main-header-title {
    margin: 0;
    font-weight: 700;
    font-size: 60px;
    line-height: 78px;
    color: #ffffff;
    text-align: left;
    padding-left: 71px;
    padding-top: 35px;
    padding-bottom: 5px;
}

.breadcrumbs {
    margin-top: 0;
    margin-left: 73px;
    margin-bottom: 45px;
    padding: 0;
    display: flex;
    list-style-type: none;
}

.breadcrumbs-item:nth-child(2) {
    margin-left: 38px;
}

.breadcrumbs-link {
    font-size: 16px;
    line-height: 21px;
    color: #ffffff;
}

/*FILTERS*/

.catalog-filter {
    display: flex;
    margin-left: 71px;
    margin-right: 72px;
}

.catalog-filter-group {
    border: none;
    padding: 0;

}

.catalog-filter-group:nth-child(1) {
    width: 150px;
}

.catalog-filter-group:nth-child(2) {
    margin-left: 67px;
    width: 150px;
}

.catalog-filter-group:nth-child(3) {
    margin-left: auto;
    margin-right: 81px;
    width: 290px;
}

.catalog-filter-group:nth-child(4) {
    width: 160px;
}


.catalog-filter-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-left: 39px;
    padding-bottom: 13px;
}

.catalog-filter-item {
    
    
}

.catalog-filter-item:last-child {
    padding-bottom: 0;
}

.catalog-filter-title {
    text-align: left;
    margin: 0;
    padding-bottom: 30px;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    color: #ffffff;
}

/*SORTING*/

.sort {
    display: flex;
    padding-left: 72px;
    padding-right: 72px;
}

.sort-results {
    margin: 0;
    margin-top: 50px;
    margin-bottom: 45px;
    margin-right: auto;
}

.sort-type {
    margin: 44px 81px 42px 0px;
}

.button-sort {
    width: 48px;
    height: 48px;
    margin-top: 44px;
    margin-right: 8px;
}

.button-sort:last-child {
    margin-right: 0;
}

.button-sort-active {
    border: 2px solid #000000;
    box-sizing: border-box;
    border-radius: 4px;
}

.control-label {
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
    text-align: left;
}

.sort-results {
    font-weight: 700;
    font-size: 30px;
    line-height: 39px;
    color: #000000;
    background-color: #ffffff;
    text-align: left;
    text-transform: uppercase;
    width: 350px;
    margin-right: auto;
}

.sort-type {
    width: 290px;
}

.select-control {
    font-size: 18px;
    line-height: 24px;
}

/*HOTELS CARDS*/

.hotel-cards {
    
    margin-left: 72px;
    margin-right: 72px;
}

.hotel-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

/*card of hotel*/

.hotel-card {
    display: flex;
    flex-direction: row;
    margin-bottom: 61px;
}

.hotel-card-image-link {
    margin-right: 37px;
}

.hotel-card-image {
    display: block;
}

.hotel-card-description {
    display: grid;
    width: 319px;
    grid-template-columns: 151px 160px;
    column-gap: 8px;
    margin-right: auto;
}

.hotel-card-title-link {
    grid-column: 1 / -1;
}

.hotel-card-title {
    margin: 0;
    padding: 0;
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
    color: #000000;
    background-color: #ffffff;
    text-align: left;
}

.hotel-card-type {
    margin: 0;
    margin-bottom: 31px;
    padding: 0;
    font-size: 18px;
    line-height: 24px;
    color: #333333;
    background-color: #ffffff;
    text-align: left;
}

.hotel-card-price {
    margin: 0;
    padding: 0;
    font-size: 18px;
    line-height: 24px;
    color: #333333;
    background-color: #ffffff;
    text-align: left;
}

.hotel-card-button {
    display: block;
    padding: 10px 31px 9px 32px;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
    background-color: #756257;
    text-transform: uppercase;
    text-decoration: none;
}

.hotel-card-rating {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hotel-stars {
    margin: 0;
}
.rating {
    margin: 0;
    padding: 10px 32px 9px 32px;
    border-radius: 4px;
    font-size: 16px;
    line-height: 21px;
    color: #333333;
    background-color: #F2F2F2;
    text-transform: uppercase;
}

.show-more-button {
    width: 625px;
    margin-left: 216px;
    margin-right: 216px;
    margin-bottom: 61px;
}

/*PAGINATION*/

.pagination {
    display: flex;
    margin-bottom: 89px;
}

.pagination-list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.pagination-item:not(:last-child) {
    margin-right: 8px;
}

.pagination-link {
    display: block;
    box-sizing: border-box;
    width: 55px;
    height: 55px;
    margin: 0;
    padding: 20px;
    text-decoration: none;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    color:#ffffff;
    background-color: #83B3D3;
}

.pagination-current {
    color: #000000;
    background-color: #F2F2F2;
}

.hotel-view {
    margin-left: auto;
}

.hotel-view-title {
    font-size: 18px;
    line-height: 24px;
    color:#333333;
    padding-right: 51px;
}

.newsletter-inner {
    margin: 0;
    padding-top: 0;
    padding-bottom: 137px;
    text-align: center;
}

.newsletter-title-inner {
    margin: 0;
    padding-bottom: 15px;
    font-weight: 700;
    font-size: 30px;
    color: #000000;
    text-transform: uppercase;
}

.newsletter-description-inner {
    margin: 0;
    padding-left: 340px;
    padding-right: 340px;
    padding-bottom: 26px;
    color: #333333;
}

.newsletter-form-inner {
    display: grid;
    margin: 0 auto;
    grid-template-columns: 1fr auto;
    width: 800px;
    box-sizing: border-box;
}