.intro {
    background-color: #87CEFA;
    background-image: url(img/background-image.jpg);
    background-repeat: no-repeat;
}

.advantages-item {
    background-color: #83B3D3;
}

.advantages-small-item {
    background: rgba(131, 179, 211, 0.12);
}

.advantages-small-item-light {
    background: white;
}

.advantages-small-item-dark {
    background: rgba(131, 179, 211, 0.2);
}

.newsletter {
    background-color: #87CEFA;
    background-image: url(img/background-mailing.jpg);
    background-repeat: no-repeat;
}

.main-header {
    background-color: #87CEFA;
    background-image: url(img/background-hotels.jpg);
    background-repeat: no-repeat;
}

.lodging {
    background-image: url(img/icon-lodging.svg);
    background-repeat: no-repeat;
    width: 75px;
    height: 72px;
}

.food {
    background-image: url(img/icon-food.svg);
    background-repeat: no-repeat;
    width: 75px;
    height: 72px;
}
.gift {
    background-image: url(img/icon-gift.svg);
    background-repeat: no-repeat;
    width: 75px;
    height: 72px;
}